<% if @pictures.any? %>
  <% @pictures.each do |pic| %>
    <%= link_to pic.name, picture_path(pic) %>
    <%= image_tag pic.image.url(:thumb) %>
  <% end %>
<% else %>
  <h1>No pictures to display</h2>
<% end %>

<%= link_to('Upload a picture', new_picture_path) %>
